.spantree-loader {
  border-color: #f3f3f3;
  border-radius: 50%;
  border-style: solid;
  border-top-color: rgb(237, 153, 44);
  -webkit-animation: spantree-loader-spin 2s linear infinite; /* Safari */
  animation: spantree-loader-spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spantree-loader-spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spantree-loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
