.spantree-tree-pane {
  position: fixed;
  display: flex;
  box-sizing: border-box;
  height: 100%;
  right: 0px !important;
  top: 0px !important;
  bottom: 0px !important;
  left: 0px !important;
  font-size: 0.8em;
  z-index: 1000;
  transform: translate3d(0px, 0px, 0px);
  transition: transform 0.2s ease 0s;
  box-shadow: 2px 0px 8px #00000070;
}

.spantree-pane-main {
  height: 100%;
  width: 100%;
  position: absolute;
}

.spantree-pane-header {
  height: 40px;
  background-color: rgb(77, 61, 146);
  border-bottom: 1px #404040 solid;
  color: white;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.spantree-close-button {
  cursor: pointer;
  margin: 0 4px;
}

.spantree-spread {
  display: flex;
  justify-content: space-between;
}

.spantree-filter-header {
  height: 50px;
  background-color: rgb(161, 127, 62);
  border-bottom: 1px #404040 solid;
  color: white;
  padding: 5px;
}

.spantree-tree-body {
  height: 100%;
  width: 100%;
}

.spantree-pane-details {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: bold;
}

.spantree-pane-icons {
  min-width: 35px;
}
