.tree-pane {
  position: fixed;
  display: flex;
  box-sizing: border-box;
  height: 100%;
  right: 0px !important;
  top: 0px !important;
  bottom: 0px !important;
  left: 0px !important;
  font-size: 0.8em;
  z-index: 1000;
  transform: translate3d(0px, 0px, 0px);
  transition: transform 0.2s ease 0s;
  box-shadow: 2px 0px 8px darkslategrey;
}

.pane-main {
  height: 100%;
  width: 100%;
  position: absolute;
}

.pane-header {
  height: 40px;
  background-color: rgb(77, 61, 146);
  color: white;
  padding: 5px;
}

.close-button {
  cursor: pointer;
}

.spread {
  display: flex;
  justify-content: space-between;
}

.tree-body {
  height: 100%;
  width: 100%;
}

.pane-details {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: bold;
}
