.tree-element {
  padding: 2px 15px 2px 0px;
  display: flex;
  height: 24px;
  align-items: center;
}

.child-list {
  list-style-type: none;
  padding: 0px 0px 0px 20px;
}

.tree-icon {
  width: 16px;
  text-align: left;
  padding-bottom: 5px;
}

.file-icon {
  width: 22px;
  text-align: left;
}

.file-icon i {
  font-style: normal;
}

.item-name {
  width: max-content;
}

.arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
}

.arrow-right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transition: all 0.2s;
}

.arrow-down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transition: all 0.2s;
}

.full-width-row {
  position: absolute;
  height: 24px;
  width: 100%;
  left: 0px;
  z-index: 5;
  opacity: 25%;
  background: transparent;
  transition: 0.2s background;
  box-sizing: border-box;
}

.active-row {
  border: 3px solid black;
  background: darkslategrey;
}

.full-width-row:hover {
  background: #6464ff;
  cursor: pointer;
}

.full-width-row:active {
  background: blue;
}
