.tree-element {
  padding: 2px 10px 2px 0px;
  display: flex;
}

.tree-element:hover {
  background-color: rgb(219, 238, 254);
  cursor: pointer;
}

.child-list {
  list-style-type: none;
  padding: 0px 0px 0px 20px;
}

.tree-icon {
  width: 10px;
  text-align: start;
}

.file-icon {
  width: 30px;
  text-align: center;
  font-style: normal;
}

.arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
}

.arrow-right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transition: all 0.2s;
}

.arrow-down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transition: all 0.2s;
}
