.spantree-tree-element {
  padding: 2px 15px 2px 0px;
  display: flex;
  height: 24px;
  align-items: center;
  width: max-content;
}

.spantree-child-list {
  list-style-type: none;
  padding: 0px 0px 0px 20px;
}

.spantree-tree-icon {
  width: 16px;
  text-align: center;
  margin-right: 2px;
  padding-bottom: 2px;
}

.spantree-file-icon {
  width: 22px;
  text-align: left;
}

.spantree-file-icon i {
  font-style: normal;
}

.spantree-item-name {
  width: max-content;
}

.spantree-arrow {
  font-style: normal;
}

.spantree-full-width-row {
  position: absolute;
  height: 24px;
  width: 100%;
  left: 0px;
  z-index: 5;
  opacity: 25%;
  background: transparent;
  transition: 0.2s background;
  box-sizing: border-box;
}

.spantree-full-width-row:hover {
  background: #6464ff;
  cursor: pointer;
}

.spantree-full-width-row:active {
  background: blue;
}

.spantree-active-row {
  border: 3px solid black;
  background: darkslategrey;
}
