.spantree-search {
  position: fixed;
  z-index: 6000;
  background-color: white;
  min-width: 40%;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px #00000040;
  left: 30%;
  top: 12%;
  box-sizing: border-box;
  border-radius: 3px;
  transition: all 0.3s ease-out;
}

.spantree-searchbar {
  padding: 10px;
}

.spantree-searchbar input {
  width: 100%;
  padding: 8px;
  border: 1px solid #bbbbbb;
  box-sizing: border-box;
}

.spantree-searchbar input:focus {
  border: 1px solid rgb(77, 61, 146);
  outline: none;
  box-shadow: 0px 0px 10px rgba(77, 61, 146, 0.25);
}

.spantree-search-results {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 35vh;
}

.spantree-results-loading {
  color: grey;
}

.spantree-search-result {
  overflow-x: scroll;
  padding: 5px 15px;
}

.spantree-search-result:hover {
  cursor: pointer;
}

.spantree-result-active {
  background: rgba(211, 211, 211, 0.5);
}

.spantree-search-result::-webkit-scrollbar {
  height: 0px;
}

.spantree-search-file {
  display: flex;
  font-size: 15px;
}

.spantree-search-filename {
  font-weight: 600;
  padding-left: 2px;
}

.spantree-search-filelocation {
  color: #919191;
  padding-left: 23px;
}

.spantree-in-fzy {
  color: rgb(77, 61, 146);
  font-weight: bold;
}

.spantree-search-term {
  margin-right: 10px;
}

.spantree-search-help {
  padding: 3px 8px 6px 8px;
  border-top: 1px solid #dddddd;
  font-size: 14px;
}

.spantree-search-help code {
  padding: 4px 6px;
}

.spantree-search-help-item {
  padding-right: 16px;
}

.spantree-search-help-item-icon {
  position: relative;
  font-size: 18px;
  top: 2px;
}
