.options{
  width: 200px;
  height: 40px;
  background-color: rgb(77, 61, 146);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.option{
  width: 90%;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}