body {
  margin: 0;
}

.spantree-popup {
  width: 220px;
  background-color: red;
  padding: 0;
  margin: 0;
}

.spantree-options-heading {
  background-color: rgb(77, 61, 146);
  color: white;
}

.spantree-options {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
