body {
  margin: 0;
}

.spantree-popup {
  width: 180px;
  padding: 0;
  margin: 0;
}

.spantree-options-heading {
  background-color: rgb(77, 61, 146);
  font-size: 1.5em;
  font-weight: bold;
  padding: 8px;
  color: white;
  display: flex;
  justify-content: center;
}

.spantree-options {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
