.spantree-loader-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.spantree-tree-list {
  scroll-behavior: smooth;
  overflow-y: auto;
  height: calc(100vh - 40px);
}

.spantree-tree-list::-webkit-scrollbar-track {
  background-color: #c9c9c9;
}

.spantree-tree-list::-webkit-scrollbar-corner {
  background-color: #c9c9c9;
}

.spantree-tree-list::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.spantree-tree-list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.5);
}

.spantree-parent-list {
  font-size: 0.875rem;
  padding: 0px 0px 0px 5px;
  list-style-type: none;
  width: max-content;
  min-width: 100%;
  position: relative;
}
