.tree-pane {
  position: fixed;
  display: block;
  background-color: rgb(250, 250, 250);
  border: 1px rgb(229, 229, 229) solid;
  box-sizing: border-box;
  height: 100%;
  /* margin-right: 20px; */
  right: 0px !important;
  top: 0px !important;
  bottom: 0px !important;
  left: 0px !important;
  z-index: 1000;
  transform: translate3d(0px, 0px, 0px);
  transition: transform 0.2s ease 0s;
}
