.tree-pane {
  position: absolute;
  display: block;
  background-color: red;
  box-sizing: border-box;
  width: 180px;
  height: 100%;
  /* margin-right: 20px; */
  right: 0px !important;
  top: 40px !important;
  bottom: 0px !important;
  left: 0px !important;
  z-index: 1000;
  transform: translate3d(0px, 0px, 0px);
  transition: transform 0.2s ease 0s;
}
